{% extends 'base.html' %}

{% block body %}
<div class="container my-3">


    <h1 claass = "text-center">update  employee details

    </h1>
    <form action="/update/{{employee.sno}}" method="POST">
      <div class="mb-3">
        <label for="" class="form-label">Name: </label>
        <input type="text" class="form-control" name="name"value="{{employee.name}}">
      </div>

       <div class="mb-3">
        <label for="" class="form-label">Name: </label>
        <input type="text" class="form-control" name="email"value="{{employee.email}}">
      </div>

      <div class="mb-3">
        <button class="btn-btn-primary" type="submit">Register</button>
      </div>
    </form>
</div>
{% endblock body %}